table,
th,
td {
  border: 2px solid #444;
  border-collapse: collapse;
}

table {
  border: none;
  text-align: center;
  width: 100%;
}

tbody td:first-child {
  color: #9984fc;
  font-weight: bold;
}

th,
td {
  padding: 8px 10px;
}

th {
  color: #61b1d5;
}
