table,
th,
td {
  border: 2px solid white;
  border-collapse: collapse;
}

table thead th div {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

table {
  border: none;
  text-align: center;
  width: 100%;
}

tbody td:first-child {
  /* color: #9984fc; */
  font-weight: bold;
}

thead {
  background-color: #3e3542;
  border-radius: 4px;
}

th,
td {
  padding: 8px 10px;
}

th {
  color: white;
}

tbody {
  background-color: #cac4cd;
}
